@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{margin: 0 ; padding: 0; font-family: 'Poppins', sans-serif;box-sizing: border-box}

body{font-size: 100%;}
h1{font-size: clamp( 1.2rem, 3.8vw + 1em, 4vh)}
h3{font-size:clamp( 1rem, 2.5vw +1em , 2.5vh);}
h4{font-size:clamp( 1rem, 2vw + 1em, 3vh)}
p{font-size: clamp( .8rem, 2vw + 1em, 2.8vh);}

header img{width: 12%;position: static;left: 1em;z-index: 100000000;}

header, nav{z-index: 10000;position: absolute;width: 100%; top: 0;left: 0;}

nav:after{content: '';clear: both;display: table;}
nav ul{float: right;list-style: none;margin-right: 40px;position: relative;}
nav ul li {display: inline-block;margin: 0 5px;}
nav ul li a {color: #fff;text-decoration: none;line-height: 70px;font-size: clamp( .8rem, 2vw + 1em, 2.8vh);
    padding: .5em; }
    nav ul li a:hover, .active{border-bottom: .1em solid #b7202e ;} 
    nav ul li a:nth-child(1):hover{border-bottom: .0em solid #b7202e}
    .active{border-bottom: .1em solid #b7202e } 
nav ul li a:hover, nav ul ul li a:hover, .p1 a:hover{color:  #b7202e}
nav ul ul{position: absolute;top: 1em;opacity: 0;visibility: hidden;transition: top .3s ; }
nav ul li:hover > ul{top: 70px;opacity: 1;visibility:visible;}
nav ul ul li{position: relative;margin: 0px;width: 10em;float: none;display: list-item;}
nav ul ul li a{line-height: 40px;font-size: clamp( .8rem, 2vw + 1em, 2.8vh);}

.a-b{background-color:  #b7202e;color: #fff;padding: .5em 1em;border-radius: 5em;}
.a-b:hover{color: #fff;border: none;}

.show,input, .icon{display: none;}

label #sign-one,  label #sign-two{font-size: .5em; background-color:#b7202e;
    float: right;cursor: pointer; display: none; z-index: 13;}
#res-menu{display: none;color: #000000;color:#b7202e;}
.fa-bars{display: flex;align-items: center;background-color: #b7202e;color: #fff;padding: .5em;}

.p1, .flex{display: flex;justify-content: center;align-items: center;}

.p1{background: url(/image/back-image.png);background-size:cover;background-position:center;
    height:100vh;}
.p1-box{flex-direction: column;color: #fff;width: 70%;}
.p1-item{margin: 1em;text-align: center;}
.p1-box h1{font-size: clamp( 3rem,4.5vw + 1rem,5.5rem);font-weight: 700;width: 50%;
    display: block;margin: 0 auto; line-height: 1.1em;text-align: center;}
.p1-box h1 b{font-weight: 100;}
.p1-box p{font-weight: 300;}
.p1-box p b{font-weight: 700;}
.p1-box h3{margin: 0 0 2em;}


.p1-box a{padding: 1em 2em;font-size: clamp( 1rem, 2vw, 2.8vh);margin: 1em;color: #fff;
    text-decoration: none;text-transform: uppercase;font-weight: 700;overflow: hidden;
    border: .1em dotted #b7202e;border-radius: 2em;} 
.p1-box a:hover{background-color:#b7202e;transition: .4s;color: #fff;}    


.p2-box{background: #0b1529;padding: 2em 1em;text-align: center;color: #fff;min-height: 50vh;
    display: flex;justify-content: center;align-items: center;flex-direction: column;}
.p2-box h1{color: #fff;font-size: clamp( 2rem, 4vw, 4vh);}
.p2-box a{color: #fff;}
.p2-box a:hover{text-decoration-color:#b7202e;}

.p3, .p4, footer{background: #0b1529;}
.p3-box{display: flex;justify-content: center;align-items: center;padding: 2em 1em;
    background: #0b1529;color: #fff;}
.p3 h1{font-size: clamp( 2rem, 3vw, 3vh);font-weight: 700;display: block;margin: 0 auto; 
    line-height: 1.1em;text-align: center;color: #fff;}
.p3 h1 b{font-weight: 100;text-decoration: underline;text-decoration-color:#b7202e;}    
.p3-item img{width: 100%;}
.p3-item p{margin: 1em;}

.p4{display: flex;justify-content: center;align-items: center;padding: 2em;}
.p4-box{display: flex;justify-content: center;align-items: center;width: 50%;background-color: #fff;
    color: #000;flex-direction: column;padding: 1em;box-shadow: 0 0 1em #b7202e;border-radius: .5em;
} 
.p4-box h3{font-size: clamp( 1.5rem, 2vw, 2vh);color:#0b1529;}
.p4-box li{list-style:none;color: #000;margin: 1em 0;font-weight: 600;text-align: center;
    }
.p4-box li::before{
    content: '';display: inline-block;height: 1em;width: 1em;background-image: url(/image/check.svg);
    background-size: cover;
 }
.p4 a{padding: 1em;text-decoration: none;margin: 1em 0;color: #fff;
    border-radius: 3em;transition: .4s;border: .1em dotted #b7202e ;background-color: #b7202e;}


.p13{padding: 2em 0;background: #0b1529;}
.p13 h1 {padding: 0;text-align: center;color: #fff;text-decoration: underline;
    text-decoration-color:#b7202e ;}
.p13-accordion{display: flex;justify-content: center;align-items: center;padding: 2em;}
.accordion{max-width: 90%;display: block;margin: 0 auto;}
.accordion .contentBx{position: relative;margin: .5em 1em;}
.accordion .contentBx .label{position: relative;padding: 1em;
  background: #f1f1f1;color: #000;cursor: pointer;font-weight: 700;border-radius: .5em;
  font-size: clamp(.8rem, 1.2vw, 1.2vh);margin: 0em 0;}
.accordion .contentBx .label::before{content: '+';position: relative;top:50%;
    font-size: 1rem;} 

.accordion .contentBx.active .label::before{content: '-';}
.accordion .contentBx .content{position: relative;background: #fff;
    height: 0;overflow: hidden;transition: 0.5s;overflow: auto;color: #000;border-radius: .5em;
    font-size: clamp(.8rem, 1.2vw, 1.2vh);margin: 0em 0;}
.accordion .contentBx.active .content{height: 150px;padding: 1em;}

.p5-box{background-color:#022340;padding: 2em 1em;}
.p5-box{display: grid;justify-content: space-around;align-items: center;grid-template-columns: repeat(3, 30%);}
.p5-item img{width: 50%;height: auto;}
.p5-item p{color: #fff;font-weight: 700;}
.p5-img img{width: 10%;height: auto;margin: 1em;}

.breve{background: #0b1529;height: 100vh;flex-direction: column;}
.breve-box{width: 50%;background-color: #fff;padding: 1em;}
.breve-box h2{color: #b7202e;}   
.breve h1{color: #fff;margin: 0 0 1em;}
.breve-box #mc-embedded-subscribe{background-color: #b7202e;text-align: center;font-size: .8rem;}
.breve-box .clear{clear: none;}
#mc_embed_signup{padding: 1em;}



footer p{font-size: .7rem;padding: 1vh 0;margin: 0 3vw;color: #fff}
.alert p{display: block;width: 80%;margin: 0 auto;text-align: center;font-size: .5rem;;}
footer p a{color:#b7202e; text-decoration: none;}
.f-i{display: flex;justify-content: space-between;}
.whatsapp a img{position: fixed;top: 81vh;right: 2.5%;width: 5vw;height: auto;}


@media screen and (max-width:900px){
   header{display: flex;}
   
    header img{width: 20%;position: static;z-index: 0;margin: .5em 0 0 ;}

    nav ul{float: left;margin-right: 0px;width: 100%;margin: 3em 0 0;transition: 1s;animation: bottom .4s ease-in;}
        
    nav ul li{ background-color:#ffffff ;}
    nav ul li, nav ul ul li{display: block;width: 100%;}
    nav ul li a{color: #b7202e;}
   
    nav ul ul{top: 70px;position: static;float: none;opacity: 1;visibility: visible;}
    nav ul ul a{padding-left: 40px ;}

@keyframes bottom {
    0%{transform: translateY(0);}
    100%{transform: translateY(.5em);}
}

    .show{display: block;color:#b7202e;padding:  0 1em;line-height: 70px;cursor: pointer;}
    .icon{display: block;position: absolute;top: 0;right: 0;line-height: 1em;font-size: 1em;
        cursor: pointer;z-index: 1;padding:2vw;}
    .icon > .fa-bars{color: white;}
    .icon::before > .fa-bars{color: #b7202e;}
    .show + a,ul{display: none;}
    [id^=btn]:checked + ul{display: block;}
    .box-header img{display: none;}

    .menu ul{flex-direction: column;}

    .p1{background-position: left;height: auto;}
    .p1-box, .breve-box{width: 90%;}
    .p1-box h1{font-size: 2rem;width: 100%;}

    .p3-box, .f-i{flex-direction: column;}

    .p4,  .p13-accordion{padding: 0;}
    .p4-box{width: 90%;}
    .p4 a{font-size: .8rem;}

    .accordion .contentBx{position: relative;margin: .5em 0em;}

    .p5-box{grid-template-columns: 90%;}
    .p5-item{margin: 1em 0;}
    .p5-item img{width: 80%;}

    .breve h1{text-align: center;}

    .whatsapp a img{position: fixed;width: 8vw;height: auto;left: 10vw;}
}

